body {
  background-color: rgb(12%,12%,14%);
}

td {
	vertical-align: center;
	height: 8px;
}

.codepacing {
	padding-left: 10px;
}

.outer-box {
	margin: 5px 10px 10px 10px;
}

.comment {
	color: rgb(45%,65%,31%);
}

.variable {
	color: rgb(36%, 85%, 100%);
}

.keyword {
	color: rgb(99%,37%,64%);
}

.symbol {
	color: rgb(100%,100%,100%);
	font-size: 21px;
}

.stringss {
	color: rgb(99%,41%,36%);
}

a { color: inherit; } 



lno {
	color: rgb(38%,38%,40%);
	font-family: 'Roboto';
	font-size: 20px;
	padding-left: 5px;
}

code {
    margin: 0px 0px 200px 0px;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}